.cDec, .cNumber {
    text-align: right;
}
.cSave {
    background-image: url(../css/icons/cSave.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cDelete {
    background-image: url(../css/icons/cDelete.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cRecPointerSelected {
    background-image: url(../css/icons/cTriangleRightBlack.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cButtonMiddle {
    width: 40px !important;
    height: 40px;
}
.dataformHead>div {
    display: inline-block;
}
div[id*=_searchline] {
    display: block;
}
button[id*=_recordPointer_new] {
    background-image: url(../css/icons/cStarBlack.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}
.dataformPagination>a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    border: 1px black solid;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
.dataformPagination>a[class*='activePage'] {
    width: 35px;
    height: 35px;
    padding-top: 1em;    
}
div[class*=_val_stars_] {
    display: inline;
}
.cStars {
    display: inline-block;
    position: relative;
    width: 100px;
    top: 28px;
    z-index: 4;
}